.main {
    display: flex;
    flex-direction: column;
}
.header {
    display: flex;
    flex-direction: row;
    background-image: url("bamboooo.png");
    border-radius: 10px;
    background-repeat:repeat-x;
    background-size: auto 90%;
}
.fotopic{
    flex: 1;
    text-align: center;
    align-self: flex-end;
}
.foto {
    max-height: 160px;
    max-width: 160px;
    border: 8px solid whitesmoke;
    border-radius: 10px;
    box-shadow: 2px 2px 10px grey;
}
.name {
    flex: 3;
    align-self: center;
    margin: 50px;
}

h1 {
    color: white;
    font-family: fantasy;
    font-style: oblique;
    margin-bottom: -25px;
}
p,h2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.button-download {
    border-radius: 12px;
    height: 30px;
    width: 100px;
    background-color: whitesmoke;
    border: none;
}
.button-hireMe {
    border-radius: 12px;
    height: 30px;
    width: 100px;
    background-color:green;
    color: white;
    border: none;
}

.body {
    display: flex;
    flex-direction: row;
}
.sidebar {
    flex: 1;
    padding: 20px;
}
tr, td {
    padding-left: 10px;
    min-width: 150px;
}

